<!DOCTYPE html>
<html lang="fr">
<head>

    <title>Esprit Entre'aide®</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Main Font -->
    <script src="{{ asset('js/webfontloader.min.js') }}"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('Bootstrap/dist/css/bootstrap-reboot.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Bootstrap/dist/css/bootstrap-grid.css') }}">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.min.css') }}">


</head>

<body class="body-bg-white" id="top">
<div class="landing-page">
    <div class="content-bg-wrap" style="filter: inherit !important;">
        <div class="content-bg"></div>
    </div>

    <div class="container">
        <div class="row display-flex" style="padding-top: 75px !important;padding-bottom: 75px !important;">
            <div class="col-12">
                <div class="landing-content">
                    <a href="{{ path('index_homepage') }}"><img style="max-width: 44%;left: 50%; transform: translate(-50%,0); position: absolute; z-index: 1 " src="{{ asset('img/logo-white.png') }}" alt="Esprit Entr'aide">
                    </a>
                </div>
            </div>


        </div>
        <div class="row display-flex" style="padding-top: 75px !important;padding-bottom: 75px !important;">
            <div class="col-12">
                <div class="landing-content" style="text-align: center;">
                    {% trans_default_domain 'FOSUserBundle' %}

                    {% block fos_user_content %}
                        <h3 style="    color: #4CAF50; font-weight: 600;">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h3>
                        {% if targetUrl %}
                            <h3 style="    color: #4CAF50; font-weight: 600;"><a href="{{ targetUrl }}" >{{ 'registration.back'|trans }}</a></h3>
                        {% endif %}
                    {% endblock fos_user_content %}
                </div>
            </div>


        </div>

    </div>
    <img class="img-bottom" style="bottom: 0 !important;    position: absolute;   left: 50%; transform: translate(-50%,0);   margin: 0 !important;" src="{{ asset('img/group-bottom.png') }}" alt="friends">
</div>


<!-- JS Scripts -->
{% include  ('IndexBundle:public:communFiles.html.twig') %}

</body>
</html>